
<div class="post" *ngFor="let post of postList">
    <mat-card class="card" backGround="accent">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ post.name }}</mat-card-title>
          <mat-card-subtitle>{{post.date}}  |   {{post.title}}</mat-card-subtitle>
          <div class="delete">
          <button class="delete" (click)="deletePost(post.id)" mat-icon-button><mat-icon color="primary">delete</mat-icon></button>
        </div>
        </mat-card-header>
        <mat-card-content>
          <p>{{ post.content }}</p>
          <img class="post-image" mat-card-image src="{{ post.imgUrl }}">
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="accent" disabled><mat-icon>favorite_border</mat-icon></button>
          <button mat-icon-button color="primary" disabled><mat-icon>comment</mat-icon></button>
        </mat-card-actions>
    <p class="post-id" name="post.id + let id of postList"#id >ID:{{post.id}}</p>
    </mat-card>
</div>